*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h1{
  width: 100%;
}
article{
  background: lightpink;
  width: 26%;
  padding: 2%;
  
  margin: 4em 0;
}
